/* custom classes */
.artback{
    background-image: url(andrew-neel-jtsW--Z6bFw-unsplash.jpg);
    background-position: center;   
}


.magic-height{
    min-height: 20vh;
}

.leafpic{
    max-height: 40vh;
    margin-top: 40px;; 
}

.boxheight{
    max-height: 100px;
}

.grayback{
    background-color: lightgray;
}

@media (max-width: 768px) {
    .hiding {
        display: none;
    }
    .spacer {
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px) {
    .magic-container {
        position: relative;
        z-index: 1; /* Ensure the container is above other elements */
    }

    .magic-card {
        position: relative; /* Change from absolute to relative */
        bottom: -4em; /* Adjust margin to create the "spilling" effect */
        z-index: 2; /* Ensure the card is above the container */
    }

    .magic-offset {
        margin-bottom: 2em; /* Adjust as necessary */
    }
}
